<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanvirsingh.essentiallinuxguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".basics_list" />
        <activity
            android:name=".subList"
            android:label="@string/title_activity_sub_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sub_list_activty"
            android:label="@string/title_activity_sub_list_activty"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".article"
            android:label="@string/title_activity_article"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".about"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>